header {
  background-color: coral;
  width: 100%;
  height: 15%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 80px;
}

.headerbox {
  width: 50%;
  display: flex;
  flex-flow: row wrap;
}

.headerbox > h1 {
  font-size: 5em;
  background-color: darkblue;
  width: fit-content;
  height: fit-content;
  padding: 15px;
  color: white;
  font-family: monospace;
  position: relative;
  top: 30px;
}

nav {
  position: relative;
  top: 30px;
}
nav > a {
  font-size: 20px;
  font-family: monospace;
  text-decoration: none;
  border: 1px solid darkblue;
  background-color: darkblue;
  color: white;
  border-radius: 5px;
  margin: 9px;
  padding: 5px;
}

#home {
  background-color: #335f64;
  border-color: #335f64;
}

nav > a:hover {
  color: lightgrey;
}

.big-wrapper {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.main-container {
  width: 50%;
  height: auto;
}

main {
  display: flex;
  flex-flow: row wrap;
}

main > * {
  margin-bottom: 20px;
}

.quotebanner {
  height: 300px;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  border: 2px solid coral;
  background-color: #7a8589;
}

#bannerimg {
  height: 100%;
  width: auto;
  justify-self: flex-start;
}

figcaption {
  width: 100%;
  text-align: center;
  align-self: center;
  font-size: 3em;
  font-family: monospace;
  font-weight: bolder;
}

.imagerow {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}

.smallimga {
  max-width: 20%;
  height: auto;
  border: 4px solid coral;
  border-radius: 5px;
}

footer {
  width: 100%;
  height: auto;
}
