header {
  background-color: coral;
  width: 100%;
  height: 15%;
  display: flex;
  /* flex-flow: row nowrap; */
  justify-content: center;
  /* align-items: center; */
  margin-bottom: 80px;
}

.headerbox {
  width: 100%;
  max-width: 1080px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.headerbox > h1 {
  font-size: 5em;
  background-color: darkblue;
  width: fit-content;
  height: fit-content;
  padding: 15px;
  color: white;
  font-family: monospace;
  position: relative;
  top: 30px;
}

nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  top: 60px;
  width: 60%;
}
nav > a {
  width: fit-content;
  height: fit-content;
  font-size: 18px;
  font-family: monospace;
  text-decoration: none;
  border: 3px solid darkblue;
  background-color: darkblue;
  color: white;
  border-radius: 5px;
  padding: 5px;
}

#home {
  background-color: #335f64;
  border-color: #335f64;
}

nav > a:hover {
  color: lightgrey;
}

.big-wrapper {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.main-container {
  width: 100%;
  max-width: 1080px;
  height: auto;
}

main {
  display: flex;
  flex-flow: row wrap;
}

main > * {
  margin-bottom: 20px;
}

.quotebanner {
  height: 300px;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  border: 2px solid coral;
  background-color: #7a8589;
}

#bannerimg {
  height: 100%;
  width: auto;
  justify-self: flex-start;
}

figcaption {
  width: 100%;
  text-align: center;
  align-self: center;
  font-size: 3em;
  font-family: monospace;
  font-weight: bolder;
}

.imagerow {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.smallimga {
  max-width: 20%;
  height: auto;
  border: 4px solid coral;
  border-radius: 5px;
}

.smallparas {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: baseline;
}

.paras {
  width: 20%;
  height: auto;
  font-size: 14px;
}

#gridboxes {
  display: grid;
  grid-template: 248px 248px / 1fr 1fr;
  gap: 15px 15px;
}

#featured {
  grid-area: 1 / 1 / 3 / 2;
  width: 100%;
  height: auto;
  border: 4px solid coral;
  border-radius: 4px;
  padding: 10px;
}

#featured > h1 {
  background-color: darkgoldenrod;
  width: 30%;
  font-size: 1.5em;
  letter-spacing: 2px;
  font-family: monospace;
  position: relative;
  bottom: 20px;
  text-align: center;
}

#featured > img {
  width: 20%;
  display: inline-block;
  margin-bottom: 20px;
}

#featured > h2 {
  display: inline-block;
  vertical-align: top;
  margin-left: 20px;
}

#featured > p {
  font-size: 14px;
  font-family: sans-serif;
  line-height: 25px;
  margin-bottom: 20px;
}

#hairstylewords {
  grid-area: 1 / 2 / 2 / 3;
  border: 4px solid coral;
  background-color: darksalmon;
  border-radius: 4px;
  padding: 20px;
  margin: 0;
  width: 100%;
  height: 100%;
}

#hairstylewords > h1 {
  background-color: darkgoldenrod;
  width: 30%;
  font-size: 1.5em;
  letter-spacing: 2px;
  font-family: monospace;
  position: relative;
  bottom: 30px;
  text-align: center;
}

#hairstylewords > h2 {
  text-align: end;
}

#balding {
  grid-area: 2 / 2 / 3 / 3;
  width: 100%;
  height: 80%;
  border: 4px solid coral;
  border-radius: 4px;
  margin: 0;
  display: flex;
  flex-flow: row nowrap;
}

#balding > img {
  max-width: 50%;
  height: auto;
}

#balding > p {
  align-self: center;
  padding: 5px;
  font-size: 20px;
  font-weight: bold;
}

footer {
  width: 100%;
  height: 100px;
  background-color: coral;
  margin-bottom: 40px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

footer > p {
  width: 57%;
  height: auto;
  text-align: end;
}

footer > figure {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  background-color: #387a82;
  width: 150px;
  height: 60px;
  margin-left: 100px;
}
