<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>News Page</title>
  <link rel="stylesheet" href="../reset.css">
  <link rel="stylesheet" href="./blog.css">
</head>
<body>
  <header>
    <!-- zizurz box in header -->
    <div class="headerbox">
      <h1>Haircutz</h1>
      <!-- zizurz box in banner -->
      <!-- nav bar buttons -->
      <nav>
        <a href="../index.html" id="home">Home</a>
        <a href="./about.html" id="about">About</a>
        <a href="./gallery.html" id="hairstyles">Hairstyles</a>
        <a href="" id="news">News</a>
        <a href="./contact.html" id="contact">Contact</a>
      </nav>
      <!-- nav bar buttons -->
    </div>
  </header>
  <main>
    <article>
      <section id="newsbox">
        <h1>News</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corrupti eius veritatis, aspernatur alias voluptatem unde non et asperiores praesentium. Inventore quos nobis molestiae aliquam ducimus ab accusamus quas tempore repellat. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ex aperiam mollitia, necessitatibus dolor voluptatem autem, odio dicta incidunt iste adipisci eaque molestias? Necessitatibus pariatur earum eaque dolore, laboriosam eligendi! Maxime?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia vero culpa possimus obcaecati est ratione reiciendis quis, eum quibusdam animi a tempore sit? Vitae similique ratione saepe nemo eveniet blanditiis! Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero corporis tempora vitae optio quia magnam maxime eligendi, iure dicta perspiciatis, voluptatibus recusandae, eveniet illo at blanditiis distinctio odit veritatis. Repudiandae.</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corrupti optio tempora excepturi ullam voluptates? Omnis excepturi ipsum tenetur aliquid! Eos distinctio necessitatibus perferendis a est. Ex error est non officia. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magnam sequi tempore nobis cum veritatis minus suscipit eum magni? Voluptas quas ipsam placeat fugit nisi culpa dolorem fuga nam. Itaque, ipsa.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci dolorem soluta qui, velit sed ex! Ullam explicabo sed, dolor quia velit eos illo, labore illum animi cupiditate incidunt quo quibusdam. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit, soluta rerum qui neque dolorem atque vel nemo? Cum corporis quasi libero velit aperiam natus, pariatur voluptatem non placeat, quod dicta?</p>
      </section>
      <section id="borderedbox">
        <h1 id="recent">Recent News</h1>
        <h1>Hair Puns</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores aliquam fugit magni ut doloremque explicabo distinctio in repellat nulla, voluptates ea quo est quas cum quisquam soluta tempora? Distinctio, dolor?</p>
        <h1>Featured Hair</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium animi, dolorem fugiat eum perspiciatis dolorum officia iure, ab nobis itaque eveniet. Quae harum ullam magni tenetur sapiente veniam nisi illo.</p>
        <h1>Hairstyles</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti eum, corporis asperiores fuga tenetur quasi earum saepe optio ut quod necessitatibus inventore fugiat sit ducimus ratione dolor! Ipsum, itaque assumenda!</p>
      </section>
    </article>
  </main>
  <footer>
    <!-- copyright text -->
    <p>© copyright 2025 | all rights reserved.</p>
    <!-- copyright text -->
    <!-- social media img box -->
    <figure>
      <a href=""><img src="../twitterlogo.png" alt="twitter logo"></a>
      <a href=""><img src="../facebooklogo.png" alt="facebook logo"></a>
      <a href=""><img src="../googlepluslogo.png" alt="google plus logo"></a>
      <a href=""><img src="../pinterestlogo.png" alt="pinterest logo"></a>
    </figure>
    <!-- social media img box -->
  </footer>
</body>
</html>