<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gallery Page</title>
  <link rel="stylesheet" href="../reset.css">
  <link rel="stylesheet" href="./gallery.css">
</head>
<body>
  <header>
    <!-- zizurz box in header -->
    <div class="headerbox">
      <h1>Haircutz</h1>
      <!-- zizurz box in banner -->
      <!-- nav bar buttons -->
      <nav>
        <a href="../index.html" id="home">Home</a>
        <a href="./about.html" id="about">About</a>
        <a href="./" id="hairstyles">Hairstyles</a>
        <a href="./blog.html" id="news">News</a>
        <a href="./contact.html" id="contact">Contact</a>
      </nav>
      <!-- nav bar buttons -->
    </div>
  </header>
  <main>
    <figure class="gallery-grid">
      <img src="../baldeagle.jpg" alt="">
      <img src="../featuredhaircut (2).jpg" alt="">
      <img src="../pinkhairlady.jpg" alt="">
      <img src="../baldeagle.jpg" alt="">
      <img src="../featuredhaircut (2).jpg" alt="">
      <img src="../pinkhairlady.jpg" alt="">
      <img src="../baldeagle.jpg" alt="">
      <img src="../featuredhaircut (2).jpg" alt="">
      <img src="../pinkhairlady.jpg" alt="">
      <img src="../baldeagle.jpg" alt="">
      <img src="../featuredhaircut (2).jpg" alt="">
      <img src="../pinkhairlady.jpg" alt="">
      <img src="../baldeagle.jpg" alt="">
      <img src="../featuredhaircut (2).jpg" alt="">
      <img src="../pinkhairlady.jpg" alt="">
      <img src="../pinkhairlady.jpg" alt="">
    </figure>
  </main>
  <footer>
    <!-- copyright text -->
    <p>© copyright 2025 | all rights reserved.</p>
    <!-- copyright text -->
    <!-- social media img box -->
    <figure>
      <a href=""><img src="../twitterlogo.png" alt="twitter logo"></a>
      <a href=""><img src="../facebooklogo.png" alt="facebook logo"></a>
      <a href=""><img src="../googlepluslogo.png" alt="google plus logo"></a>
      <a href=""><img src="../pinterestlogo.png" alt="pinterest logo"></a>
    </figure>
    <!-- social media img box -->
  </footer>
</body>
</html>